@page "/games"

<style>
    h1 {
        color: #4CAF50;
        font-family: 'Segoe UI', sans-serif;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    li {
        margin: 10px 0;
    }
</style>

<PageTitle>Unity Games</PageTitle>

<body class="bg-gray-100">

<header class="bg-white sticky top-0 z-50 shadow-md">
    <nav class="container mx-auto p-4 flex justify-between items-center rounded-b-lg">
            <h1 class="text-xl md:text-2xl font-bold text-gray-800">Unity Games I've Made</h1>
    </nav>
</header>

<h2>Welcome to my Unity Games I've built myself</h2>

Welcome to to our page for future Game Projects.

<footer class="bg-white p-4 text-center text-gray-600 rounded-t-xl mt-8">
    <p>&copy; 2025 Micaiah Stevens. All rights reserved.</p>
</footer>

</body>