@* // This was removed as we use different pages *@
@* @page "/" *@
@page "/Home"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<footer class="bg-white p-4 text-center text-gray-600 rounded-t-xl mt-8">
    <p>&copy; 2025 Micaiah Stevens. All rights reserved.</p>
</footer>
